<!DOCTYPE html>

<html lang="en">
<%- include ./partial/header.ejs %>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                  
                    <!-- /.col-lg-12 -->
                </div>
                <!-- .row -->
              <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title m-b-0">Add Currency</h3>
                        <form data-toggle="validator" action="/addCurr" method="post">                       
                                <div class="row">
                                                <div class="col-md-6">
                                
                                    <div class="form-group">
                                   
                                    <label for="inputName1" class="4u-label">Currency Name</label>
                                    <input type="text" class="form-control" id="inputName1" name="curr_name" placeholder="Enter Currency" required>
                                </div>
                            </div>
                                                <div class="col-md-6">
                                
                                

                                        <div class="form-group">
                                   
                                    <label for="inputName1" class="4u-label">Currency Code</label>
                                    <input type="text" class="form-control" id="inputName1" name="curr_code" placeholder="Enter Code" required>
                                </div>
                            </div>
                        </div>

                               
                                
                                
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                  <!--     <section class="panel">
                            
                                    <h2 class="panel-title">All Currency</h2>
                                <div class="panel-body">
                                    
                                    <table class="table table-bordered table-striped mb-none" id="datatable-editable">
                                        <thead>
                                            <tr>
                                                <th>S.No.</th>
                                                <th>Currency Name</th>
                                                <th>Currency Code</th> 
                                               <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                <% result.forEach(function(item, i){ %>
                <tr>
                <td><%= i+1 %></td>
                <td><%= item.currency_type %></td>
                <td><%= item.currency_code %></td>
             
                  <td class="text-center">
                        
                <a href="/edit_curr/<%= item.curr_pub_id %>"><button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"><i class="ti-pencil-alt"></i></button></a>
                <a id="<%= item.curr_pub_id %>" href="/delete_curr/<%= item.curr_pub_id %>" style="display: none"></a>
                <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-5" data-target="#delModal" data-toggle="modal" onclick="setId('<%= item.curr_pub_id %>')"><i class="icon-trash"></i></button>
                    </td>
             
            </tr>
            <div class="modal fade" id="delModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Delete Currency</h2>
                </div>
                <div class="modal-body">
                    <p>Are You sure want to delete this Currency <%= item.currency_name %> !</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" id="del_btn" data-dismiss="modal" onclick="callHref()">Delete</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancle</button>
                </div>
            </div>
        </div>
    </div>
        <% }) %>
                                        </tbody>
                                        
                               
                                    </table>
                                </div>
                            </section>
                        

                        
                     
                    </section> -->
                </div>
                   
                <!-- /.row -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                            <ul id="themecolors" class="m-t-20">
                                <li><b>With Light sidebar</b></li>
                                <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                                <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                                <li><a href="javascript:void(0)" data-theme="gray" class="yellow-theme">3</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme">4</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                                <li><b>With Dark sidebar</b></li>
                                <br/>
                                <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
                                <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                                <li><a href="javascript:void(0)" data-theme="gray-dark" class="yellow-dark-theme">9</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme working">12</a></li>
                            </ul>
                            <ul class="m-t-20 all-demos">
                                <li><b>Choose other demos</b></li>
                            </ul>
                            <ul class="m-t-20 chatonline">
                                <li><b>Chat option</b></li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/varun.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/genu.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/ritesh.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/arijit.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/govinda.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/hritik.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/john.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/pawandeep.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- /.container-fluid -->
          
          <%- include ./partial/footer.ejs %>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="../plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../assets/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="../plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="../assets/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="../assets/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../assets/js/custom.min.js"></script>
    <script src="../assets/js/validator.js"></script>
    <!--Style Switcher -->
    <script src="../plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
</body>

</html>
           
    <script type="text/javascript">
    var id = "";
    function setId(x)
    {
        // alert(x);
        id = x;
    }
    function callHref()
    {
        // alert(id);
        document.getElementById(id).click();
    }
</script>