<!DOCTYPE html>

<html lang="en">
<%- include ./partial/header.ejs %>
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">    
                    <!-- /.col-lg-12 -->
                </div>
                <!-- .row -->
               
                            
            
                   <div class="row">
                        <div class="col-lg-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <div class="panel-actions">
                                    <h3 class="box-title m-b-0">Update User</h3>
                                       
                                    </div>
                                <div class="panel-body">
                                <form class="form-inline" action="/update_user" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="user_pub_id" value="<%=result.user_pub_id%>">
                                              <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                            <label  class="control-label" >First Name*</label>
                                    
                                                <input type="text" value="<%=result.first_name%>" name="first_name" class="form-control" id="name"
                                                 placeholder="Enter first name" required >
                                        
                                        </div>
                                    </div>

                                        <div class="col-md-6">
                                                    <div class="form-group">
                                    <label >Last Name*</label>
                                                <input type="text" name="last_name" value="<%=result.last_name%>" class="form-control" id="username" placeholder="Enter last name"required >
                                        </div>
                                    </div>
                                </div>

                                         <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                            <label  class="control-label" >Username*</label>
                                    
                                                <input type="text" name="name" value="<%=result.name%>"  class="form-control" id="name"
                                                 placeholder="Name" required >
                                        
                                        </div>
                                    </div>

                                        <div class="col-md-6">
                                                    <div class="form-group">
                                    <label >Email*</label>
                                                <input type="email" name="email" class="form-control" value="<%=result.email%>"  id="username" placeholder="Email"required >
                                        </div>
                                    </div>
                                </div>

                                            
                                          <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                    <label>Contact No*</label>
                                    
                                                <input type="text" name="mobile_no" class="form-control" id="password" value="<%=result.mobile_no %>" placeholder="Mobile no" required >
                                        </div>
                                    </div>

                                                <div class="col-md-6">
                                                     <div class="form-group">
                                    <label >Address*</label>
                                                <input type="text" name="address" class="form-control" id="username" value="<%=result.address %>" placeholder="Address" required >
                                        </div>
                                    </div>
                                </div>
                                      <div class="form-group">
                                            <label class="label label-default">Image</label>
                                            <img src="<%= result.image %>" height="50" width="50" >
                                        </div>
                                        <div class="form-group">
                                            <label class="label label-default">New Image</label>
                                        <input type="file" name="image"  style="padding-bottom: 50px;" class="form-control"  >
                                        </div>
                                        <div class="visible-sm clearfix mt-sm mb-sm"></div>

                                        <div class="clearfix visible-xs mb-sm"></div>
                                        <br><br>

                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </form>
                                </div>
                            </section>
                        

<section>
                        </div>
                        <h4>
                    </div>


                <!-- /.row -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                            <ul id="themecolors" class="m-t-20">
                                <li><b>With Light sidebar</b></li>
                                <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                                <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                                <li><a href="javascript:void(0)" data-theme="gray" class="yellow-theme">3</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme">4</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                                <li><b>With Dark sidebar</b></li>
                                <br/>
                                <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
                                <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                                <li><a href="javascript:void(0)" data-theme="gray-dark" class="yellow-dark-theme">9</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme working">12</a></li>
                            </ul>
                            <ul class="m-t-20 all-demos">
                                <li><b>Choose other demos</b></li>
                            </ul>
                            <ul class="m-t-20 chatonline">
                                <li><b>Chat option</b></li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/varun.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/genu.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/ritesh.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/arijit.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/govinda.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/hritik.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/john.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/pawandeep.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- /.container-fluid -->
               <%- include ./partial/footer.ejs %>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="../plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../assets/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="../plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="../assets/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="../assets/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../assets/js/custom.min.js"></script>
    <script src="../assets/js/validator.js"></script>
    <!--Style Switcher -->
    <script src="../plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
    
</body>

</html>
<script type="text/javascript">
    var id = "";
    function setId(x)
    {
        // alert(x);
        id = x;
    }
    function callHref()
    {
        // alert(id);
        document.getElementById(id).click();
    }
</script>